@model Cliente

@{
    ViewData["Title"] = "Cadastro de Clientes";
}
<style>
    fade-in-out {
        animation: fadeInOut 3s ease-in-out;
    }

    @@keyframes fadeInOut {
        0% {
            opacity: 0;
        }

        10% {
            opacity: 1;
        }

        90% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    .error-fade-in-out {
        animation: errorFadeInOut 3s ease-in-out;
    }

    @@keyframes errorFadeInOut {
        0% {
            opacity: 0;
        }

        10% {
            opacity: 1;
        }

        90% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }
</style>
<h5 style="margin-left: 11%">@ViewData["Title"]</h5>
<hr />
<div class="container" style="margin-left: 7%">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    @if (TempData["SuccessMessage"] != null)
                    {
                        <div class="alert alert-success">
                            @TempData["SuccessMessage"]
                        </div>
                    }
                    else if (TempData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger">
                            @TempData["ErrorMessage"]
                        </div>
                    }
                    <form asp-action="Create">
                        <div class="form-group">
                            <label asp-for="Usuario.Nome">Nome</label>
                            <input id="" asp-for="Usuario.Nome" class="form-control" />
                            <span asp-validation-for="Usuario.Nome" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Usuario.CPF">CPF</label>
                            <input id="cpfInput" asp-for="Usuario.CPF" class="form-control" />
                            <span asp-validation-for="Usuario.CPF" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Usuario.CNPJ">CNPJ</label>
                            <input id="cnpjInput" asp-for="Usuario.CNPJ" class="form-control" />
                            <span asp-validation-for="Usuario.CNPJ" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Endereco">Endereço</label>
                            <input asp-for="Endereco" class="form-control" />
                            <span asp-validation-for="Endereco" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Telefone">Telefone</label>
                            <input type="tel" asp-for="Telefone" class="form-control" />
                            <span asp-validation-for="Telefone" class="text-danger"></span>
                        </div>

                        <label asp-for="PiscineiroID">Piscineiro</label>
                        <select asp-for="PiscineiroID" class="form-control">

                            <option value="0">

                            </option>

                            @foreach (var piscineiro in ViewBag.Piscineiros)
                            {
                                <option value="@piscineiro.PiscineiroID">
                                    @piscineiro.Usuario.Nome
                                </option>
                            }
                        </select>
                        <span asp-validation-for="PiscineiroID" class="text-danger"></span>

                        <!-- Adicionar outros campos relevantes aqui, se necessário -->
                        <hr />
                        <button type="submit" class="btn btn-primary">Salvar</button>
                        <a asp-action="Index" class="btn btn-secondary">Voltar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        // Verifica se há uma mensagem de sucesso
        var successMessage = $(".alert.alert-success");

        // Se houver uma mensagem de sucesso, iniciar a animação de fade-in e depois fade-out
        if (successMessage.length > 0) {
            successMessage.addClass("fade-in-out");
            setTimeout(function () {
                successMessage.removeClass("fade-in-out").fadeOut(500);
            }, 3000); // 3000 milissegundos (3 segundos)
        }

        // Verifica se há uma mensagem de erro
        var errorMessage = $(".alert.alert-danger");

        // Se houver uma mensagem de erro, iniciar a animação de fade-in e depois fade-out
        if (errorMessage.length > 0) {
            errorMessage.addClass("error-fade-in-out");
            setTimeout(function () {
                errorMessage.removeClass("error-fade-in-out").fadeOut(500);
            }, 3000); // 3000 milissegundos (3 segundos)
        }
    });

    VMasker(document.getElementById("cnpjInput")).maskPattern("99.999.999/9999-99");
</script>